form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section {
  width: 100%;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-view {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  margin-top: 17px;
}
