/* main {
  height: 100vh;
  display: flex;
  position: relative;
} */

.big-view {
  width: 100%;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-view {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.row-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.row-item.no-border {
  border-bottom: none;
}
