@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: radial-gradient(
      485.19% 122.52% at 85.08% -70.05%,
      rgba(232, 56, 56, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(924.38% 353.78% at -89.95% 143.6%, #be9fcc 0%, #fff 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Inria Sans;
}

main {
  display: flex;
  max-width: 781px;
  width: 100%;
  min-height: 440px;
  justify-content: center;
  margin: auto;
  border-radius: 24px;
  border: 2px solid #b8b8b8;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

h2 {
  color: #000;
  font-family: Inria Sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
}

p {
  color: #6a6a6a;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

a {
  color: black;
  text-decoration: none;
  color: #d459d7;
}

input,
select,
button {
  font-family: Inria Sans;
}

button {
  cursor: pointer;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #c2c2c2;
}

.underlined {
  text-decoration: underline;
}

input:focus {
  outline: none;
}

input[type="text"],
input[type="password"],
input[type="numnber"] {
  display: flex;
  padding: 14px 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #bebebe;
  color: black;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  font-weight: 400;
  width: 100%;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="numnber"]::placeholder {
  color: #8c8c8c;
}

.form-error-label {
  color: rgb(171, 12, 12);
  font-size: 14px;
  font-weight: 700;
}

.spaced-10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
