/* @import url() */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

h1 {
  font-size: 30px;
  margin-bottom: 12px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  margin-bottom: 6px;
}

a {
  color: black;
}

input {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

input[type=text], input[type=email], input[type=password] {
  padding: 10px;
}

input[type=number] {
  padding: 10px;
  width: 100px;
}

input[type=number].dollar-input {
  padding-left: 16px;
}

select {
  padding: 10px;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.dollar-input-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.dollar-input-sign {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 5px;
  right: auto;
}

button {
  padding: 10px;
  cursor: pointer;
}
