nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgb(211, 211, 211);
  padding: 24px 16px;
  background-color: #D459D7;
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nav-icon {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 3px;
}
